{% extends 'base.twig' %}

{% block content %}
    <h1 class="mt-5">Best companies</h1>

    <div class="mt-3">
        {% for company in companies %}
            <div class="mt-2">
                <a href="{{ url_for('company', { 'id': company.id }) }}">{{ company.name }}</a>
            </div>
        {% endfor %}
    </div>

    <nav class="mt-3">
        <ul class="pagination pagination-sm">
            {% for i in 1..10 %}
                <li class="page-item{% if i == paging.current %} disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('companies') }}?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}