<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ base_path() }}/styles/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="{{ base_path() }}/styles/base.css"/>
        {% endblock %}
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    </head>

    <body class="d-flex flex-column h-100">
        {% block header %}
            <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <div class="collapse navbar-collapse container" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item{% if is_current_url('home')%} active{% endif %}">
                                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li class="nav-item{% if is_current_url('users')%} active{% endif %}">
                                <a class="nav-link" href="{{ url_for('users') }}">Users</a>
                            </li>
                            <li class="nav-item{% if is_current_url('companies')%} active{% endif %}">
                                <a class="nav-link" href="{{ url_for('companies') }}">Best companies</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <!-- Page content -->
        <main role="main" class="flex-shrink-0">
            <div class="container">
                {% block notifications %}
                    {% if messages %}
                    <div class="notifications-bar">
                        {% if messages.error %}
                            <div class="message-error">
                                {% for message in messages.error %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if messages.success %}
                            <div class="message-success">
                                {% for message in messages.success %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endblock %}
                {% block body %}
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </main>

        {% block footer %}
            <footer class="footer mt-auto py-3">
                <div class="container">
                    <span class="text-muted">&#169;&nbsp;Sandbox development</span>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
