{% extends 'base.twig' %}

{% block content %}
    <h1 class="mt-5">Slim says you HELLO and WELCOME!</h1>
    <p class="lead">This is the twig content ^-^</p>

    <div class="main-content">
        <form action="/" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control col-sm-5" name="search" value="{{ search }}" placeholder="Find your company" />

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% if foundData %}
            <div class="bordered">
                <p>Hooray! You found something ^-^</p>
                {% for company in foundData %}
                    <p><a href="{{ url_for('company', { 'id': company.id }) }}">{{ company.name }}</a></p>
                {% endfor %}
            </div>
        {% elseif search %}
            <p>Sorry, we cannot find something suitable..</p>
        {% endif %}
    </div>

    <div class="links-list">
        <p>Also you can follow by these links:</p>
        <ul>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('companies') }}">Our best companies</a></li>
        </ul>
    </div>

{% endblock %}
