{% extends 'base.twig' %}

{% block content %}
    <h1 class="mt-5">Editing user info</h1>
    {% if errors %}
        <div class="errors">
            {% for field, errorTxt in errors %}
                <p><b>Field <i>{{ field }}</i>:</b> {{ errorTxt }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="mt-4">
        <form action="{{ url_for('users') }}" method="POST">
            <input type="hidden" name="_METHOD" value="PATCH">
            <input type="hidden" name="user[id]" value="{{ user.id }}">

            {{ include('users/form_fields.twig') }}

            <div class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <a href="{{ url_for('users') }}">Back to list</a>
{% endblock %}
