{% extends 'base.twig' %}

{% block content %}
{% if users %}
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>E-mail</th>
        <th>PHONE</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td><a href="{{ url_for('user', { 'id': user.id }) }}">{{ user.name }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div>
    <a href="{{ url_for('newUser') }}">Add new user</a>
</div>

{% endblock %}