{% extends 'base.twig' %}

{% block content %}
    <h1 class="mt-5">Users list</h1>

    {% if users %}
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{{ url_for('user', { 'id': user.id }) }}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <form action="{{ url_for('delete_user', { 'id': user.id }) }}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE">
                            
                            <input class="btn btn-outline-danger" type="submit" value="X">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mt-5">The user list is empty. But you can add the necessary users!</p>
    {% endif %}

    <div class="mt-4">
        <a class="btn btn-primary" href="{{ url_for('new_user') }}">Add new user</a>
    </div>

{% endblock %}